.source-details-dialog .modal-dialog {
  width: 90%;
  height: 90%;
}

.source-details-dialog .modal-dialog .modal-content {
  height: 85%;
}

.source-details-dialog .modal-dialog .modal-content .modal-body {
  height: 100%;
}

.source-details-dialog .modal-dialog .modal-content .modal-body .CodeMirror {
  height: 100%;
}

/*
@media(min-height:550px) {
    .modal-body {
        max-height: 300px;
    }
    .CodeMirror {
      height: 250px;
    }
}
@media(min-height:700px) {
    .modal-body {
        max-height: 450px;
    }
    .CodeMirror {
      height: 400px;
    }
}
@media(min-height:850px) {
    .modal-body {
        max-height: 600px;
    }
    .CodeMirror {
      height: 550px;
    }
}
@media(min-height:1000px) {
    .modal-body {
        max-height: 750px;
    }
    .CodeMirror {
      height: 700px;
    }
}
@media(min-height:1200px) {
    .modal-body {
        max-height: 900px;
    }
    .CodeMirror {
      height: 850px;
    }
}*/

.CodeMirror-hints {
  z-index: 1200 !important;
}
